*{ 
    margin: 0%;
    padding: 0%;

} 
body{
    background-color: #13374e;
}
.navi{
    width: 900px;
    margin:  auto;
}
.navi ul{
    list-style: none;  
    margin-top: 2%;
     margin-bottom: 5px;
 
} 
.navi ul ul li{ 
 margin-left: 0px;
} 
.navi ul ul ul{
     margin-left: 170px;
     top: 0px;
 
} 
.navi ul li{
     background: #262626;
     width: 170px;
     border: 1px solid #fff;
     height: 50px;
     line-height: 50px;
     text-align: center;
     float: left;
     color: #fff;
     font-size: 14px;
     position: relative; 
     margin-left: 5px;  
} 
 .navi ul li:hover {
    background: crimson;
 }
 .navi ul ul{
    display: none;
}  
 .navi ul li:hover>ul{
    display: block;
}  